<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="goods">
    <select id="selectAllPrd" resultType="goods">
        select GOODSNAME, GOODSTYPE,ORDERPRICE from goods g , STORAGE s
    </select>
</mapper>